<div class="row mb-3">
    <div class="col-md-6">
        <div class="card py-2">
            <div class="card-body">
                <h5 class="card-title">Total Questions</h5>
                <p class="card-text">{{data.questions.length}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card py-2">
            <div class="card-body">
                <h5 class="card-title">Total Users</h5>
                <p class="card-text">{{data.users.length}}</p>
            </div>
        </div>
    </div>
</div>