<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form (ngSubmit)="submitQuiz()" #quizForm="ngForm">
                <div *ngFor="let question of quizData.questions; let i = index" class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.question }}</h5>
                        <div *ngFor="let option of question.options; let j = index">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" [value]="option" [name]="question._id"
                                    [(ngModel)]="selectedOptions[question._id]" required>
                                {{ option }}
                            </label>
                        </div>
                    </div>
                </div>
                <div *ngIf="quizForm.submitted && quizForm.invalid" class="alert alert-danger mt-3">
                    Please answer all questions before submitting.
                </div>

                <button type="submit" class="btn btn-primary mt-3">Submit Quiz</button>

            </form>
            <div *ngIf="!isQuiz && !quizForm.invalid" class="mt-4">
                <h4>Quiz Results</h4>
                <p>Score: {{ score }} / {{ total }}</p>
                <div *ngFor="let result of results" class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ result.questionText }}</h5>
                        <p>Selected Answer: {{ result.selected }}</p>
                        <p>Correct Answer: {{ result.correct }}</p>
                        <p [ngClass]="{'text-success': result.isCorrect, 'text-danger': !result.isCorrect}">
                            Result: {{ result.isCorrect ? 'Correct' : 'Incorrect' }}
                        </p>
                    </div>
                </div>
                <button type="button" class="btn btn-danger mt-3"><a routerLink="/user"
                        class="link-light link-offset-2 link-underline-opacity-0">Exit Quiz</a></button>
            </div>
        </div>
    </div>
</div>